@model List<Message>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Home"];
}


<div class="text-center">
    <h1 class="display-4">@Localizer["Library"]</h1>

    <h1>@Localizer["LatestNews"]</h1>
    <div class="messages">
        @await Html.PartialAsync("_MessageCard", Model)
    </div>

    <h2>@Localizer["NewBooks"]</h2>
    <div class="news">
        @await Html.PartialAsync("_SearchResults", (List<Book>)ViewBag.latestBooks)
    </div>
    

</div>