@model IEnumerable<Book>

@if (Model != null && Model.Any())
{
    <div class="book-list">
        @foreach (var book in Model)
        {
            @await Html.PartialAsync("_BookCard", (Book)book)
            @* <partial name="_BookCard" /> *@
        }
    </div>
}
else
{
    <p>Brak wyników</p>
}

<script src="~/js/site.js"></script>
